<h2>Sign Up</h2>
<div class="form-group">
  <form action="/registrations" method="post">
    <label for="user-email">Email</label>
    <input class="form-control" type="text" name="user-email">
    <label for="user-email">Email</label>
    <input class="form-control" type="text" name="user-email">
    <label for="user-password">Password</label>
    <input class="form-control" type="text" name="user-password">
    <label for="user-password">Retype Password</label>
    <input class="form-control" type="text" name="user-password_confirmation">
    <br>
    <button type="submit" class="btn btn-info">Sign Up</button>
  </form>
</div>
