<h2>Oops, there was an error!</h2>


<% if @user %>
  <% @user.errors.full_messages.each do |message| %>
    <h3><%= message %></h3>
  <% end %>
<% else %>
  <h3>Username or password did not match</h3>
<% end %>

<a href="/">Return Home</a>
