
<h2 id="quest-start"><a href="/registrations/signup">Start your Quest</a></h2>
<hr>
<div class="root">

<h4>Do you need a job? </h4>

<h4>A great job?</h4>

<h4>Does the idea of keeping track of everything in a spreadsheet drive you to tears?</h4>

<h4>This is the perfect tool for you.</h4>

<h4>Four developers were faced with the same arduous task; four developers set forth to make Career Quest to vanquish the deluge of despair that comes with job hunting.</h4>

<h4>With Career Quest you can:</h4>
<li>Add companies and details</li>
<li>Add prospective positions at each company and track your application status</li>
<li>Add contacts to each company or position</li>
<li>Track correspondences with your contacts</li>
<li>Stay organized throughout your career search</li>

</div>
