<!DOCTYPE html>
<html>
  <head>
    <title>Career Quest</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="/css/font-awesome.min.css" type="text">
    <link  rel='stylesheet' href="/css/styles.css" >
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div id="container">
      <div class="container">
        <div id="body">
          <% if logged_in? %>
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <ul class="nav nav-pills">
                  <li class="navbar" role="presentation"><a href="/users/home">Home</a></li>
                  <li class="navbar" role="presentation"><a href="/users/companies">Companies</a></li>
                  <li class="navbar" role="presentation"><a href="/contacts">Contacts</a></li>
                  <li class="navbar" role="presentation"><a href="/users/positions">Positions</a></li>
                  <li class="navbar" role="presentation"><a href="/users/correspondences">Correspondences</a></li>
                  <li class="navbar navbar-right"><a href="/sessions/logout">Logout</a></li>
                  <li class="navbar navbar-right"><a href="/users/settings">Settings</a></li>
                </ul>
              </div>
            </nav>
          <% else %>
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <ul class="nav nav-pills">
                  <li class="navbar navbar-right"><a href="/sessions/login">Login</a></li>
                  <li class="navbar navbar-right"><a href="/registrations/signup">Sign Up</a></li>
                </ul>
              </div>
            </nav>
          <% end %>
          <h1>Career Quest</h1>
          <hr>
          <%= yield %>
        </div>
      </div>

      <footer id="footer">
        <div class="footer-top">
          <p>follow us</p><br>
          <a href="https://github.com/akane0915" target="_blank"><br><i class="fa fa-github" aria-hidden="true"></i><br>asia</a>
          <a href="https://github.com/gravytates" target="_blank"><br><i class="fa fa-github" aria-hidden="true"></i><br>grady</a>
          <a href="https://github.com/spenceralan" target="_blank"><br><i class="fa fa-github" aria-hidden="true"></i><br>spencer</a>
          <a href="https://github.com/jennifer-kinsey" target="_blank"><br><i class="fa fa-github" aria-hidden="true"></i><br>kinsey</a>
        </div>
        <div class="footer-bottom">
          <p>hunt on</p>
        </div>
      </footer>
    </div>
  </body>
</html>
