<!DOCTYPE html>
<html>
  <head>
    <title>Career Quest</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="/css/styles.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/users/home">Home</a></li>
            <li role="presentation"><a href="#">Companies</a></li>
            <li role="presentation"><a href="#">Contacts</a></li>
            <li role="presentation"><a href="#">Positions</a></li>
            <p class="navbar-text navbar-right"><a href="/sessions/logout">Logout</a></p>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-10">
          <h1>Career Quest</h1>
        </div>
      </div>
    <hr>
      <%= yield %>
    </div>
  </body>
</html>
