<h2>Step 1 of 2: Add a new position:</h2>


<form action="/users/add_new_position" method="post">

<label for="job_title">Job Title </label>
<input class="form-control" type="text" name="job_title" required><br>

<label for="description">Description</label>
<input class="form-control" type="text" name="description"><br>

<label for="qualifications">Am I Qualified?</label>
<select class="form-control" name="qualifications">
  <option value="Overqualified">Overqualified</option>
  <option value="Underqualified">Underqualified</option>
  <option value="Perfectly Qualified">Perfectly Qualified</option>
</select><br>

<label for="est_salary">Estimated Salary</label>
<input class="form-control" type="text" name="est_salary"><br>

<label for="url">Link to Job Posting</label>
<input class="form-control" type="text" name="url"><br>

<label for="notes">Notes</label>
<textarea class="form-control" type="text" name="notes"></textarea><br>

<button type="submit" class="btn btn-info">Proceed to Company Info</button>

</form>
