<h2>Your Companies</h2>

<% if @user.companies.any? %>
  <table class="table">
     <thead>
       <tr>
         <th>Name</th>
         <th>Website</th>
       </tr>
     </thead>
     <tbody>
       <% @user.companies.each do |company| %>

         <tr>
           <td><a href="/company/<%= company.id %>"><%= company.name %></a></td>
           <td><a href="<%= company.website %>"></a>
             <%= company.website %></td>
         </tr>

       <% end %>
     </tbody>
   </table>
<% else %>
  <p>
    There are no companies yet!
  </p>
<% end %>

<p>Add a new company:</p>

<form action="/users/new_company_companies_page" method="post">

<label for="company_name">Company Name: </label>
<input class="form-control" type="text" name="company_name" required><br>

<label for="location">Location: </label>
<input class="form-control" type="text" name="location"><br>

<label for="website">Website: </label>
<input class="form-control" type="text" name="website"><br>

<label for="services">What they do:</label>
<input class="form-control" type="text" name="services"><br>

<label for="size">Company Size:</label>
<input class="form-control" type="text" name="size"><br>

<label for="specializations">Company specializations:</label>
<input class="form-control" type="text" name="specializations"><br>

<label for="pros">Pros:</label>
<input class="form-control" type="text" name="pros"><br>

<label for="cons">Cons:</label>
<input class="form-control" type="text" name="cons"><br>

<label for="notes">Additional notes</label>
<input class="form-control" type="text" name="notes"><br>

<button type="submit" class="btn btn-info">Add Company</button>

</form>
