<h2>Your Companies</h2>

<% if @companies.any? %>
  <table class="table">
     <thead>
       <tr>
         <th>Name</th>
         <th>Website</th>
       </tr>
     </thead>
     <tbody>
       <% @companies.each do |company| %>

         <tr>
           <td><a href="/company/<%= company.id %>"><%= company.name %></a></td>
           <td><%= company.website != "" ? "<a href='http://#{company.website}' target='_blank'>
             #{company.website}</a>" : "add a website for #{company.name}!"%></td>
         </tr>


       <% end %>
     </tbody>
   </table>
<% else %>
  <p>
    There are no companies yet!
  </p>
<% end %>

<a href="/brand_new_company">Add a new company</a>
