<h2>Login</h2>
<div class="form-group">
  <form action="/sessions" method="post">
    <label for="user-email">Email</label>
    <input class="form-control" type="text" name="user-email">
    <label for="user-password">Password</label>
    <input class="form-control" type="text" name="user-password">
    <br>
    <button type="submit" class="btn btn-info">Login</button>
  </form>
</div>
