<% if @contacts.any? %>
  <table class="table">
     <thead>
       <tr>
         <th>Name</th>
         <th>Company</th>
       </tr>
     </thead>
     <tbody>
       <% @contacts.each do |contact| %>
         <tr>
           <td><a href="/contact/<%= contact.id %>"><%= contact.name %></a></td>
             <td><%= contact.company ? "<a href='/company/#{contact.company.id}'> #{contact.company.name}</a>" : "add a company for #{contact.name}!" %></td>
         </tr>
       <% end %>
     </tbody>
   </table>
<% else %>
  <p>There are no contacts yet! </p>
<% end %>
<a href="/contacts/add" class="btn btn-info">Add Contact</a><br>
<a href="/users/home">Return home</a>
